.main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include adaptiveValue('gap',48,24);
    padding: 0 rem(20) 0;
}

.main-block{
    width: 100%;
    &__container{
        display: flex;
        flex-direction: column;
        @include adaptiveValue('gap', 32, 16);
        border: 1px;
        border-radius: 24px;
    }
    &__title{
        @include adaptiveValue('font-size', 36, 18);
        font-weight: 500;
    }
    &__elements{
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(8);
        line-height: 150%;
    }

}