.user-type-select{
    display: flex;
    flex-direction: row;
    @include adaptiveValue('gap', 48, 24);
    flex-wrap: wrap;
    justify-content: center;
    &__type{
        display: flex;
        width: 200px;
        padding: 48px 24px;
        @include adaptiveValue('padding-top', 48, 24);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(24);
        border-radius: 16px;
        border: 1px solid #868686;
        &:hover{
            background-color: $colors-background2;
            cursor: pointer;
        }
    }
    &__logo{
        color: black;
        background-color: white;
        display: flex;
        width: 72px;
        height: 72px;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 99px;
    }
    &__text{
        text-align: center;
        @include adaptiveValue('font-size', 14, 12);
        line-height: 130%;
    }
}